*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    
body {
  position: relative;
  z-index: 1000;  
}
#particular {
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  z-index: -1;
  
}

.text-none{
    text-decoration: none !important;
}
html,body{
     background-color: rgba(0, 0, 0, 0);
    width: 100%;
    overflow-x: hidden;
}

#Home .container {
    height: fit-content;
    background-size: cover;
    color: grey;
   
    
}
@font-face {
  src: url("https://www.axis-praxis.org/fonts/webfonts/MetaVariableDemo-Set.woff2")
    format("woff2");
  font-family: "Meta";
  font-style: normal;
  font-weight: normal;
}

#Home {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  width: 100vw;
  height: 100vh;
}

main {
  transition: all 0.5s;
  -webkit-text-stroke: 4px black;
  font-variation-settings: "wght" 900, "ital" 1;
  font-size: 3rem;
  text-align: center;
  color: transparent;
  font-family: "Meta", sans-serif;
  text-shadow: 10px 10px 0px white, 15px 15px 0px grey, 20px 20px 0px white,
    25px 25px 0px grey, 45px 45px 10px black;
  cursor: pointer;
}

main:hover {
  font-variation-settings: "wght" 100, "ital" 0;
  text-shadow: none;
}



.fa-brands:hover{
    color: rgb(71, 212, 71);


}



.hometext{
    padding-top: 250px;
    display: block;
    position: relative;
    padding-right: 200px;
}


.wrapper {
    /*This part is important for centering*/
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .typing-demo {
   animation: typing 1.5s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid black;
    font-family: monospace;
    font-size: 2em;
  }
  
  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');

  #About{
    
      height: fit-content;
    transition: 1s;
    background-color: #f8f9fa00;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
  }

    ul {
        list-style: none; /* Remove list bullets */
        padding-left: 0 !important;
        margin: 0;
       }
      
       #Skills{
           background-image: url(./backgroundLee.jpg);
           background-size:cover;
            background-attachment: fixed;
           min-height: fit-content;
           display: flex;
       }
      
       .hide-undesired-half{
        height: 120px;
        background-color: transparent !important;
        
        
        font-size: 30px;
        font-weight: bolder;
        font-family: monospace;
    
    }
      
      .progress-pie-chart{
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-color: rgb(6, 255, 6);
        position: relative;
        transform:rotate(270deg);
        margin-bottom: 50px;
        /*border: solid 4px blue;*/
      }
      
      .ppc-progress{
        position: absolute;
        left: calc(50% - 50px);
        top: calc(50% - 50px);
        width: 100px;
        height: 100px;
        clip: rect(0 100px 100px 50px);
      }
      
      .ppc-progress-fill-10{
          background-color: black;
          content: "";
          position: absolute;
          left: calc(50% - 50px);
          top: calc(50% - 50px);
          width: 100px;
          height: 100px;
          clip: rect(50px 84px 100px 0px);
          border-radius: 50%;
      }
     
      
      .ppc-progress-fill-20{
          background-color: black;
          content: "";
          position: absolute;
          left: calc(50% - 50px);
          top: calc(50% - 50px);
          width: 100px;
          height: 100px;
          clip: rect(0px 100px 100px 40px);
          transform: rotate(46deg);
          border-radius: 50%;
      }
      
      .ppc-progress-fill-30{
         background-color: black;
          content: "";
          position: absolute;
          left: calc(50% - 50px);
          top: calc(50% - 50px);
          width: 100px;
          height: 100px;
          clip: rect(25px 100px 100px 85px);
          transform: rotate(46deg);
          border-radius: 50%;
      }
      
      
      
      .ppc-progress-fill-50{
             background-color: #040303;
          content: "";
          position: absolute;
          left: calc(50% - 50px);
          top: calc(50% - 50px);
          width: 100px;
          height: 100px;
          clip: rect(0px 250px 250px 6px);
          transform: rotate(46deg);
          border-radius: 50%;
      }
      
      
      
      .ppc-percents{
          content: "";
          position: absolute;
          border-radius: 50%;
          left: calc(50% - 86.95652px/2);
          top: calc(50% - 86.95652px/2);
          width: 86.95652px;
          height: 86.95652px;
          background: white;
          text-align: center;
          padding-top: 20px;
          font-size: 2.5rem;
          display: table;
          box-shadow: 1px 1px 20px 1px grey !important;
          transform: rotateZ(90deg)
      }
      
      .skillstext{
          font-size: 1.6rem;
          font-weight: 500;
      }

      @media screen and (max-width:576px) {
          .skillsbox{
              padding-bottom: 400px;
          }
         .skillstext{
            padding:30px 0 30px 0;
         }
          
      }



       #Resume {
           height: 100vh;
           background-color: transparent;
          
       }
                     .col-1{ height: 80px;
                       color: #0af10a;
                       display: flex;
                       justify-content: center;
                       align-items: center;
                       font-size: 50px;
                       border-radius: 90%;
                       box-shadow: 10px 20px 60px #41464b;
                       position: relative;
                    }
                    
.col-1::before{
    content: '';
    background-color: #0af10a;
    height: 100px;
    width: 3px;
position: absolute;
bottom:0;
top: 100%;

}
* {
    box-sizing: border-box;
  }
  

  
  h1 {
    text-align: center;
    font-family: "Raleway", sans-serif;
  }
  
  .timeline {
    position: relative;
    padding: 1rem;
    margin: 0 auto;
    max-width: 1300px;
  }
  .timeline:before {
    content: "";
    position: absolute;
    height: 100%;
    border: 1px solid rgb(26, 194, 7);
    right: 40px;
    top: 0;
  }
  .timeline:after {
    content: "";
    display: table;
    clear: both;
  }
  @media screen and (min-width: 700px) {
    .timeline {
      padding: 2rem;
    }
    .timeline:before {
      left: calc(50% - 1px);
      right: auto;
    }
  }
  
  .timeline__item {
    padding: 1rem;
    border: 2px solid rgb(26, 194, 7);
    border-image: linear-gradient(to right, rgb(26, 194, 7), rgb(26, 194, 7));
    border-image-slice: 1;
    position: relative;
    margin: 1rem 3rem 1rem 1rem;
    clear: both;
  }
  .timeline__item:after, .timeline__item:before {
    content: "";
    position: absolute;
  }
  .timeline__item:before {
    right: -10px;
    top: calc(50% - 5px);
    border-style: solid;
    border-color: rgb(26, 194, 7) rgb(26, 194, 7) transparent transparent;
    border-width: 10px;
    transform: rotate(45deg);
  }
  @media screen and (min-width: 700px) {
    .timeline__item {
      width: 44%;
      margin: 1rem;
    }
    .timeline__item:nth-of-type(2n) {
      float: right;
      margin: 1rem;
      border-image: linear-gradient(to right, rgb(26, 194, 7) 0%, rgb(26, 194, 7));
      border-image-slice: 1;
    }
    .timeline__item:nth-of-type(2n):before {
      right: auto;
      left: -10px;
      border-color: transparent transparent rgb(26, 194, 7) rgb(26, 194, 7);
    }
  }
  
  .timeline__item--year {
    text-align: center;
    max-width: 150px;
    margin: 0 48px 0 auto;
    font-size: 1.8rem;
    background-color: white;
    line-height: 1;
    border-image: none;
    padding: 0.5rem 1rem 1rem;
  }
  .timeline__item--year:before {
    display: none;
  }
  @media screen and (min-width: 700px) {
    .timeline__item--year {
      text-align: center;
      margin: 0 auto;
    }
    .timeline__item--year:nth-of-type(2n) {
      float: none;
      margin: 0 auto;
      border-image: none;
    }
    .timeline__item--year:nth-of-type(2n):before {
      display: none;
    }
  }
  
  .timeline__title {
    margin: 0;
    font-family: "Raleway", sans-serif;
    font-size: 1.5em;
  }
  
  .timeline__blurb {
    line-height: 1.5;
    font-size: 1rem;
    margin: 0.5rem 0 0;
  }

#Projects img{width: 300px;
    height: 250px;
    
}  
.project-card{
    position: relative;
    margin-top:100px;
    overflow: hidden;
   
    margin-bottom: 15px;
  }
  .project-card .project-img{
  overflow: hidden;
  }
  .project-card .project-img img{
  width: 100%;
  height: auto;
  transition:all 1s ease;
  }
  .project-card:hover .project-img img{
    transform: scale(1.3);
  }

  @media screen and (max-width: 990px){
    
  
  .projects-container{
    margin-top: 150px;
  }
}
@media screen and (max-width: 768px){
    
  
  .projects-container{
    margin-top: 350px;
  }
}
@media screen and (max-width: 700px){
    
  
  .projects-container{
    margin-top: 200px;
  }
}
@media screen and (max-width: 405px){
    
  
  .words{
    font-size: 20px;
  }
}
@media screen and (max-width: 420px){
  .testimonials .item{
    width: 350px;
  }
}
   
  .project-card .profile-content::before{
  content: "";
  position: absolute;
  transition: all .5s linear;
  }
  .project-card .profile-content::before{
    top:0;
    left: 0;
    width: 50%;
    height: 40%;
    border-right: transparent;
    border-bottom: transparent;            
  }
  
  .project-card:hover .profile-content::before{
    top:20px;
    left: 20px;
  }
  
  .project-card .profile-content{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 50% 4%;
    text-align: center;
    transition: all .3s ease;
  }
  .project-card .profile-content:hover{
      padding-bottom: 200px;
    background-color: rgba(37, 245, 14 , 0.8);
  }
  .project-card .profile-content .btn{
    color: white;
    font-size:24px;
    text-transform: uppercase;
    letter-spacing: 2px;
    opacity: 0;
    transform: translateY(-100px);
    transition:all 900ms cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.20s;
  }
  .project-card .profile-content .btn> span{
     display: block;
     font-size: 12px;
     text-transform: uppercase;
     letter-spacing: 1px;
     margin: 5px 0 ;
     font-weight: 600;
  }
  .project-card:hover .profile-content .btn{
     opacity: 1;
     transform: translateY(0);
  }
  
  .project-card .profile-content .social-links{
      list-style: none;
      padding: 0;
      margin: 10px 0;
      opacity: 0;
      transform: translateY(-100px);
      transition:all 900ms cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.20s;
   }
   .project-card:hover .profile-content .social-links{
       opacity: 1;
       transform: translateY(0);
    }
    .project-card .profile-content .social-links li{
        display: inline-block;
        margin: 0px 5px;     
    }
    .project-card .profile-content .social-links li a{
       
        color:rgb(14, 13, 13);
        width: 30px;
        height: 30px;
        line-height: 30px;
        border-radius: 5px;
        text-align: center;
    }
    .social-links{
        font-size: 30px;
    }
  
    
  
  
  
  


    #Testimonials {
        margin: 0;
       
        color: black;
        font-family: sans-serif;
        display: flex;
        align-items: center;
        min-height: 100vh;
    }
    .slider {
        width: 100%;
    }
    .slider input {
        display: none;
    }
    .testimonials {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        min-height: 350px;
        perspective: 1000px;
        overflow: hidden;
    }
    .testimonials .item {
        top: 0;
        position: absolute;
        box-sizing: border-box;
        background-color: white;
        padding: 20px;
        width: 350px;
        text-align: center;
        transition: transform 0.4s;
        transform-style: preserve-3d;
        box-shadow: 0 0 10px rgba(0,0,0,0.3);
        user-select: none;
        cursor: pointer;
    }
    .testimonials .item img {
        width: 100px;
        border-radius: 50%;
        border: 3px solid #07fc2c;
    }
    .testimonials .item p {
        color: black;
    }
    .testimonials .item h2 {
        font-size: 14px;
    }
    .dots {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .dots label {
        display: block;
        height: 5px;
        width: 5px;
        border-radius: 50%;
        cursor: pointer;
        background-color: #413B52;
        margin: 7px;
        transition: transform 0.2s, color 0.2s;
    }
    
    /* First */
    #t-1:checked ~ .dots label[for="t-1"] {
        transform: scale(2);
        background-color: #fff;
    }
    #t-1:checked ~ .dots label[for="t-2"] {
        transform: scale(1.5);
    }
    #t-1:checked ~ .testimonials label[for="t-1"] {
        z-index: 4;
    }
    #t-1:checked ~ .testimonials label[for="t-2"] {
        transform: translateX(300px) translateZ(-90px) rotateY(-15deg);
        z-index: 3;
    }
    #t-1:checked ~ .testimonials label[for="t-3"] {
        transform: translateX(600px) translateZ(-180px) rotateY(-25deg);
        z-index: 2;
    }
    #t-1:checked ~ .testimonials label[for="t-4"] {
        transform: translateX(900px) translateZ(-270px) rotateY(-35deg);
        z-index: 1;
    }
    #t-1:checked ~ .testimonials label[for="t-5"] {
        transform: translateX(1200px) translateZ(-360px) rotateY(-45deg);
    }
    
    /* Second */
    #t-2:checked ~ .dots label[for="t-1"] {
        transform: scale(1.5);
    }
    #t-2:checked ~ .dots label[for="t-2"] {
        transform: scale(2);
        background-color: #fff;
    }
    #t-2:checked ~ .dots label[for="t-3"] {
        transform: scale(1.5);
    }
    #t-2:checked ~ .testimonials label[for="t-1"] {
        transform: translateX(-300px) translateZ(-90px) rotateY(15deg);
    }
    #t-2:checked ~ .testimonials label[for="t-2"] {
        z-index: 3;
    }
    #t-2:checked ~ .testimonials label[for="t-3"] {
        transform: translateX(300px) translateZ(-90px) rotateY(-15deg);
        z-index: 2;
    }
    #t-2:checked ~ .testimonials label[for="t-4"] {
        transform: translateX(600px) translateZ(-180px) rotateY(-25deg);
        z-index: 1;
    }
    #t-2:checked ~ .testimonials label[for="t-5"] {
        transform: translateX(900px) translateZ(-270px) rotateY(-35deg);
    }
    
    /* Third */
    #t-3:checked ~ .dots label[for="t-2"] {
        transform: scale(1.5);
    }
    #t-3:checked ~ .dots label[for="t-3"] {
        transform: scale(2);
        background-color: #fff;
    }
    #t-3:checked ~ .dots label[for="t-4"] {
        transform: scale(1.5);
    }
    #t-3:checked ~ .testimonials label[for="t-1"] {
        transform: translateX(-600px) translateZ(-180px) rotateY(25deg);
    }
    #t-3:checked ~ .testimonials label[for="t-2"] {
        transform: translateX(-300px) translateZ(-90px) rotateY(15deg);
    }
    #t-3:checked ~ .testimonials label[for="t-3"] {
        z-index: 3;
    }
    #t-3:checked ~ .testimonials label[for="t-4"] {
        transform: translateX(300px) translateZ(-90px) rotateY(-15deg);
        z-index: 2;
    }
    #t-3:checked ~ .testimonials label[for="t-5"] {
        transform: translateX(600px) translateZ(-180px) rotateY(-25deg);
    }
    
    /* Fourth */
    #t-4:checked ~ .dots label[for="t-3"] {
        transform: scale(1.5);
    }
    #t-4:checked ~ .dots label[for="t-4"] {
        transform: scale(2);
        background-color: #fff;
    }
    #t-4:checked ~ .dots label[for="t-5"] {
        transform: scale(1.5);
    }
    #t-4:checked ~ .testimonials label[for="t-1"] {
        transform: translateX(-900px) translateZ(-270px) rotateY(35deg);
    }
    #t-4:checked ~ .testimonials label[for="t-2"] {
        transform: translateX(-600px) translateZ(-180px) rotateY(25deg);
    }
    #t-4:checked ~ .testimonials label[for="t-3"] {
        transform: translateX(-300px) translateZ(-90px) rotateY(15deg);
        z-index: 2;
    }
    #t-4:checked ~ .testimonials label[for="t-4"] {
        z-index: 3;
    }
    #t-4:checked ~ .testimonials label[for="t-5"] {
        transform: translateX(300px) translateZ(-90px) rotateY(-15deg);
    }
    
    /* Fifth */
    #t-5:checked ~ .dots label[for="t-4"] {
        transform: scale(1.5);
    }
    #t-5:checked ~ .dots label[for="t-5"] {
        transform: scale(2);
        background-color: #fff;
    }
    #t-5:checked ~ .testimonials label[for="t-1"] {
        transform: translateX(-1200px) translateZ(-360px) rotateY(45deg);
    }
    #t-5:checked ~ .testimonials label[for="t-2"] {
        transform: translateX(-900px) translateZ(-270px) rotateY(35deg);
        z-index: 1;
    }
    #t-5:checked ~ .testimonials label[for="t-3"] {
        transform: translateX(-600px) translateZ(-180px) rotateY(25deg);
        z-index: 2;
    }
    #t-5:checked ~ .testimonials label[for="t-4"] {
        transform: translateX(-300px) translateZ(-90px) rotateY(15deg);
        z-index: 3;
    }
    #t-5:checked ~ .testimonials label[for="t-5"] {
        z-index: 4;
    }










  @import url(https://fonts.googleapis.com/css?family=Merriweather);



h1 {
  text-align: center;
  color: #040303;
  text-shadow: 1px 1px 0 white;
}

form {
  max-width: 600px;
  text-align: center;
  margin: 20px auto;
}
form input, form textarea {
  border: 0;
  outline: 0;
  padding: 1em;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  display: block;
  width: 100%;
  margin-top: 1em;
  font-family: 'Merriweather', sans-serif;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  resize: none;
}
form input:focus, form textarea:focus {
  -moz-box-shadow: 0 0px 2px  rgb(38, 250, 5) !important;
  -webkit-box-shadow: 0 0px 2px  rgb(38, 250, 5) !important;
  box-shadow: 0 0px 2px rgb(38, 250, 5) !important;
}
form #input-submit {
  color: white;
  background:  rgb(38, 250, 5);
  cursor: pointer;
}
form #input-submit:hover {
  -moz-box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6);
  -webkit-box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6);
  box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6);
}
form textarea {
  height: 126px;
}

.half {
  float: left;
  width: 48%;
  margin-bottom: 1em;
}

.right {
  width: 50%;
}

.left {
  margin-right: 2%;
}

@media (max-width: 480px) {
  .half {
    width: 100%;
    float: none;
    margin-bottom: 0;
  }
}
/* Clearfix */
.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.cf:after {
  clear: both;
}
footer {
    background: white;
    color: rgb(10, 9, 9);
    font-size: 14px;
    text-align: center;
    padding: 30px 0;
    text-decoration: none !important;
}






